/* Use of specific css so that my css doesn't clash with the website's css */

.my-dictionary-body{
    background-color: dodgerblue !important;
}

.my-dictionary-body .my-dictionary-popup-container{
    height: 20rem !important;
    width: 20rem !important;
}
.my-dictionary-body  .my-dictionary-title{
    text-align: center !important;
    color: whitesmoke !important;
}
.my-dictionary-body  .my-dictionary-how-to{
    margin-left: 1rem !important;
    color: whitesmoke !important;
}
.my-dictionary-body  .my-dictionary-des{
    margin-left: 1rem !important;
    color: whitesmoke !important;
    text-align: justify !important;
    width: 85% !important;
}

.my-dictionary-body  .my-dictionary-word{
    font-size: 1rem !important;
    display: inline-flex !important;
    color: #000 !important;
    margin-top: 0 !important;
}
.my-dictionary-body  .my-dictionary-pos{
    font-size: 0.7rem !important;
    color: #a9a9a9 !important;
    margin-top: 0 !important;
    font-weight: bold !important;
}
.my-dictionary-body  .my-dictionary-def{
    font-size: 0.8rem !important;
    color : #000 !important;
}
.my-dictionary-body  .my-dictionary-audio{
    border-radius: 0 !important;
    color: #a9a9a9 !important;
    height: 2rem !important;
    width: 100% !important;
    border: 1px solid #000 !important;
    border-radius: 10px !important;
}
.my-dictionary-body  .my-dictionary-example{
    font-size: 0.8rem !important;
    color: #000 !important;
}