/* Use of specific css so that my css doesn't clash with the website's css */

.my-dictionary-body{
    background-color: dodgerblue ;
}

.my-dictionary-popup-container{
    height: 20rem ;
    width: 20rem ;
}
.my-dictionary-title{
    text-align: center ;
    color: whitesmoke ;
}
.my-dictionary-how-to{
    margin-left: 1rem ;
    color: whitesmoke ;
}
.my-dictionary-des{
    margin-left: 1rem ;
    color: whitesmoke ;
    text-align: justify ;
    width: 85% ;
}

.my-dictionary-word{
    font-size: 1rem;
    display: inline-flex ;
    color: #000 ;
    margin-top: 0 ;
}
.my-dictionary-pos{
    font-size: 0.7rem ;
    color: #a9a9a9 ;
    margin-top: 0 ;
    font-weight: bold ;
}
.my-dictionary-def{
    font-size: 0.8rem ;
    color : #000 ;
}
.my-dictionary-audio{
    border-radius: 0 ;
    color: #a9a9a9 ;
    height: 2rem ;
    width: 100% ;
    border: 1px solid #000 ;
    border-radius: 10px ;
}
.my-dictionary-example{
    font-size: 0.8rem ;
    color: #000 ;
}